{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <form action="" method="get" class="card-header">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-2 ">
                    <input type="text" name="title" placeholder="Product Title" class="form-control">
                </div>
                <div class="col-md-2 mb-2 offset-md-1">
                    <select name="variant" id="" class="form-control">
                        <option selected enabled>--Select A Variant--</option>
                        <optgroup label="Color">
                            <option value="black">Black</option>
                            <option value="orange">Orange</option>
                        </optgroup>
                        <optgroup label="Size">
                            <option value="xl">XL</option>
                            <option value="l">L</option>
                            <option value="m">M</option>
                            <option value="full">Full</option>
                            <option value="half">Half</option>
                        </optgroup>

                    </select>
                </div>

                <div class="col-md-3 mb-2 offset-md-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price Range</span>
                        </div>
                        <input type="text" name="price_from" aria-label="First name" placeholder="From"
                               class="form-control">
                        <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <input type="date" name="date" placeholder="Date" class="form-control">
                </div>
                <div class="col-md-1 mb-2">
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Price</th>
                        <th width="150px">Stock</th>
                    </tr>
                    </thead>
                    
                    <tbody >
                    {% for product in page_obj %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.title}} Create at: {{product.created_at}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.varient_title1}}/{{product.varient_title2}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.stock}}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>

        <div class="pagination">
            <span class="step-links">
                <div class="d-flex align-items-start flex-column mb-3">
                    <span class="current">
                        Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} item out of {{ page_obj.paginator.count }} items.
                    </span>
                </div>

                <div class="d-flex align-items-end flex-column mb-3">
                    <ul class="pagination justify-content-end">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">Page {{ page_obj.number }}</a>
                        </li>
                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </span>
        </div>
                                
    </div>
{% endblock %}